<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="onCancel()">
                <ion-icon slot="icon-only" md="close-sharp" ios="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">{{ componentData.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="inset" inset="true" class="ion-padding add-address-form">

        <!-- add address form -->
        <form [formGroup]="addressForm" *ngIf="componentData.openView === 'add-address'">
            <div class="form-field">
                <ion-item>
                    <ion-label position="floating">Address</ion-label>
                    <ion-textarea autoGrow="true" formControlName="address" [class.invalid]="!addressForm.controls['address'].valid && addressForm.controls['address'].touched"></ion-textarea>
                </ion-item>
            </div>

            <div class="form-field">
                <ion-item>
                    <ion-label position="floating">Mobile Number</ion-label>
                    <ion-input type="tel" maxlength="10" minlength="10" formControlName="contact" [class.invalid]="!addressForm.controls['contact'].valid && addressForm.controls['contact'].touched">
                    </ion-input>
                </ion-item>
            </div>

            <div class="ion-padding-vertical">
                <ion-button expand="block" [disabled]="!addressForm.valid" (click)="onAddAddress(addressForm)">
                    {{ componentData.title }}
                </ion-button>
            </div>
        </form>
    </ion-list>
</ion-content>