.not-expanded {
    display: none;
    transition: opacity 0.3s ease-in;
}

.expanded {
    display: block;
    transition: opacity 0.3s ease-in;
}

.summary {
    white-space: initial;
    transition: all 3s ease-in-out 0.5s;
}

.rotate-down {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.rotate-up {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
}

.admin-toolbar {
    padding: 0 5px;
}