.not-expanded {
    display: none;
    transition: opacity 0.3s ease-in;
}

.expanded {
    display: block;
    transition: opacity 0.3s ease-in;
}

.summary {
    white-space: initial;
    transition: all 3s ease-in-out 0.5s;
}

.rotate-down {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.rotate-up {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
}

.admin-toolbar {
    padding: 0 5px;
}

// [ngClass]="{'fade-in': isDataLoaded }"
// .fade-in {
//     animation: fadeIn ease 4s;
//     -webkit-animation: fadeIn ease 10s;
//     -moz-animation: fadeIn ease 10s;
//     -o-animation: fadeIn ease 10s;
//     -ms-animation: fadeIn ease 10s;
// }
// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
// @-moz-keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
// @-webkit-keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
// @-o-keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
// @-ms-keyframes fadeIn {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
// .fade-out {
//     animation: fadeOut ease 6s;
//     -webkit-animation: fadeOut ease 8s;
//     -moz-animation: fadeOut ease 8s;
//     -o-animation: fadeOut ease 8s;
//     -ms-animation: fadeOut ease 8s;
// }
// @keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
// @-moz-keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
// @-webkit-keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
// @-o-keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }
// @-ms-keyframes fadeOut {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }